* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgba(53, 160, 167, 0.27);
}

h1 {
  margin: 20px 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  background-color: rgba(58, 17, 224, 0.5);
  width: 449px;
  border-radius: 5px;
}

.card-header h2 {
  text-align: center;
  margin: 20px 0;
  font-size: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
  padding: 10px;
  border-bottom: 2px solid rgb(78, 50, 50);
}

.cartoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cartoes li {
  display: flex;
  align-items: center;
}

.dados-card input {
  text-align: center;
  width: 200px;
  border-bottom: 2px solid rgba(102, 61, 61, 0.27);
}

.dados-card label {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

.container-card input {
  margin: 10px 10px;
}

.container-card {
  text-align: center;
  background-color: rgba(6, 18, 169, 0.49);
  width: 60%;
  margin: 0 auto;
}

.dados-card,
li {
  margin-right: 700px;
  font-size: 12px;
}

li {
  display: block;
}

.cartoes-opcionais {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
}

.dados-card input {
  border: none;
  border-bottom: 1px solid #dfdfdf;
  border-radius: 2px;
}

.dados-card label {
  display: flex;
  border-bottom: 1px solid black;
  border: none;
}

input[type="submit"],
input[type="reset"] {
  background-color: rgba(44, 241, 231, 0.49);
  border: 2px solid transparent;
  cursor: pointer;
  height: 30px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0, 5s;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
  background-color: white;
  border: rgba(44, 241, 231, 0.49);
}
